<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebPotégé Dataset Opt-out</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        function selectAll() {
            $('input:checkbox').prop("checked", true);
        }

        function selectNone() {
            $('input:checkbox').prop("checked", false);
        }
    </script>

</head>
<body class="container">

<h1>WebProtege De-identified Obfuscated Change Log Publication Opt Out</h1>

<p>
This page allows you to opt out of the publication of de-identified and obfuscated change logs for some or all of your
WebProtégé projects.
</p>
<p>
    Please check that your user name and your email address are correct and then select the projects
    for which you do not want de-identified obfuscated version to appear in the published
    dataset.
</p>

<div class="form-group">
    <form method="post" action="#" th:action="@{/optout}" th:object="${optOutInfo}">


        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" id="userName" class="form-control" readonly th:value="*{userId}"/>
        </div>
        <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input type="email" id="emailAddress" class="form-control" readonly th:value="*{emailAddress}"/>
        </div>
        <div class="form-group">
            <label for="projectsList">Your Projects</label>
            <div class="form-group">
                <button type="button" class="btn btn-outline-secondary" onclick="selectAll()">Opt-out of ALL</button>
                <button type="button" class="btn btn-outline-secondary" onclick="selectNone()">Opt-out of NONE</button>
            </div>
            <table id="projectsList" class="table">
                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Project Id</th>
                    <th>Opt-out</th>
                </tr>

                </thead>
                <tr th:each="projectInfo: *{optOutItemList}">
                    <td>
                        <span th:text="${projectInfo.projectName}"></span>
                        <input type="hidden" th:name="|optOutItemList[${projectInfoStat.index}].projectName|"
                               th:value="${projectInfo.projectName}">
                    </td>
                    <td>
                        <span th:text="${projectInfo.projectId}"></span>
                        <input type="hidden" th:field="*{optOutItemList[__${projectInfoStat.index}__].projectId}"
                               th:value="${projectInfo.projectId}">

                    </td>
                    <td>
                        <label>
                            <input type="checkbox" class="checkbox"
                                   th:field="*{optOutItemList[__${projectInfoStat.index}__].optOut}"
                                   th:value="${projectInfo.optOut}"/>
                            Opt-out
                        </label></td>
                </tr>
            </table>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </form>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</body>
</html>