<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebPotégé Dataset Opt-out</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    <style>
        label {
            font-weight: bold;
        }
    </style>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        function selectAll() {
            $('input:checkbox').prop("checked", true);
        }

        function selectNone() {
            $('input:checkbox').prop("checked", false);
        }
    </script>

</head>
<body class="container">

<h1>WebProtege De-identified Obfuscated Change Log Publication Opt-Out</h1>

<p>
    This page allows you to opt out of the publication of de-identified and obfuscated change logs for some or all of
    your
    WebProtégé projects.
</p>
<p>
    Please check that your user name and your email address are correct. <strong>Select the projects
    for which you do not want a de-identified and obfuscated version of the project change log</strong> to appear in the published
    dataset.
</p>

<form class="form-vertical" method="post" action="#" th:action="@{/optout}" th:object="${optOutInfo}">


    <input type="hidden" th:field="*{id}"/>

    <div class="form-group">
        <label for="userId">User Name</label>
        <input type="text" id="userId" class="form-control" readonly th:field="*{userId}"/>
    </div>
    <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" id="emailAddress" class="form-control" readonly th:field="*{emailAddress}"/>
    </div>
    <div class="form-group">
        <label for="projectsList">Your Projects</label>
        <p>Use the check boxes to select some or all of your projects.  Selected projects will be excluded from the dataset that we will publish.</p>
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="selectAll()">Select All</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="selectNone()">Select None</button>
        </div>
        <table id="projectsList" class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th>Project Name</th>
                <th>Project Id</th>
                <th>Selected (Opt-out)</th>
            </tr>

            </thead>
            <tr th:each="project: *{projects}">
                <td>
                    <a target="_blank" th:href="|https://webprotege.stanford.edu/#projects/${project.projectId}/edit/Classes|" th:text="${project.projectName}"></a>
                    <input type="hidden" th:field="*{projects[__${projectStat.index}__].projectName}"
                           th:value="${project.projectName}">
                </td>
                <td>
                    <span th:text="${project.projectId}"></span>
                    <input type="hidden" th:field="*{projects[__${projectStat.index}__].projectId}"
                           th:value="${project.projectId}">

                </td>
                <td>
                    <input type="checkbox" class="checkbox"
                           th:field="*{projects[__${projectStat.index}__].optOut}"
                           th:value="${project.optOut}"/>
                </td>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <label for="comments">Reasons for opting out or additional comments (Optional)</label>
        <textarea id="comments" class="form-control" th:field="*{comment}">Comment Text</textarea>
    </div>

    <div class="form-group">
        <input type="submit" value="Opt-out of Selected Projects" class="btn btn-primary"/>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
        integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
</body>
</html>