<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebProtégé Dataset Opt-out</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="https://webprotege.stanford.edu/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    <style>
        label {
            font-weight: bold;
        }
    </style>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        function selectAll() {
            $('[data-opt-out]').prop("checked", true);
        }

        function selectNone() {
            $('[data-opt-out]').prop("checked", false);
        }
    </script>

</head>
<body class="container">

<h1 th:text="#{title}"></h1>

<p>
    This page allows you to opt out of the publication of the de-identified and obfuscated change logs for some or all
    of
    the WebProtégé projects that you own. You must <strong>press the "Save My Opt-out Preferences"
    button</strong> at
    the bottom of the page when you're done for your preferences to be saved.
</p>

<form class="form-vertical" method="post" action="" th:object="${optOutInfo}">


    <input type="hidden" th:field="*{id}"/>

    <input type="hidden" th:field="*{viewedAt}"/>

    <div class="form-group">
        <label for="userId">Your WebProtégé User Name</label>
        <input type="text" id="userId" class="form-control disabled" readonly th:field="*{userId}"/>
        <small class="form-text text-muted">
            We've filled this out for you.  You can opt-out for projects associated with this user name.
        </small>
    </div>
    <div class="form-group">
        <label for="emailAddress">Your WebProtégé Email</label>
        <input type="email" id="emailAddress" class="form-control disabled" readonly th:field="*{emailAddress}"/>
        <small class="form-text text-muted">
            We've filled this out for you.  This is the email address associated with your user name above.
        </small>
    </div>

    <div class="form-group">
        <label for="projectsList">Your WebProtégé Projects</label>
        <p>
            Please use the check boxes in the table below to specify the projects for which you'd like to opt-out.
        </p>

        <div class="form-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="selectAll()"><span>Select All</span> (Opt-out of all)</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="selectNone()"><span>Clear All</span> (Don't opt-out of any)</button>
        </div>
        <table id="projectsList" class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th>Project name</th>
                <th>Last modified</th>
                <th>Opt&#8209;out</th>
            </tr>

            </thead>
            <tr th:each="project: *{projects}">
                <td>
                    <!--Project name as a link to WebProtege-->
                    <a target="_blank"
                       th:href="|https://webprotege.stanford.edu/#projects/${project.projectId}/edit/Classes|"
                       th:text="${project.projectName}"></a>
                    <input type="hidden" th:field="*{projects[__${projectStat.index}__].projectName}"
                           th:value="${project.projectName}">
                    <!--ProjectId-->
                    <input type="hidden" th:field="*{projects[__${projectStat.index}__].projectId}"
                           th:value="${project.projectId}">
                </td>
                <td>

                    <div><span th:text="${project.getFormattedModifiedAt()}"></span>
                        <!--Modified At-->
                        <input type="hidden" th:field="*{projects[__${projectStat.index}__].modifiedAt}"
                               th:value="${project.modifiedAt}"></div>

                    <!-- Created At -->
                    <div class="small text-muted"><span th:text="'(Created ' + ${project.getFormattedCreatedAt()} + ')'"></span>
                        <input type="hidden" th:field="*{projects[__${projectStat.index}__].createdAt}"
                               th:value="${project.createdAt}"></div>


                </td>
                <td>
                    <!--Include/Exclude-->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" data-opt-out type="checkbox"
                               th:field="*{projects[__${projectStat.index}__].optOut}" value="false">
                        <label th:for="|projects__${projectStat.index}__.optOut1|" class="form-check-label"
                               th:field="*{projects[__${projectStat.index}__].optOut}">Opt&#8209;out</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <label for="comments">Reasons for opting out of some or all projects, or any additional comments (Optional)</label>
        <textarea id="comments" class="form-control" th:field="*{comment}">Comment Text</textarea>
    </div>

    <div class="form-group">
        <input type="submit" value="Save My Opt-out Preferences" class="btn btn-success"/>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
        integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
</body>
</html>
